@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Oswald&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@128.9,590&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #001220;
}
/* ------------------ HEADER -----------------*/
header{
    background-color: #b77d24;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 10px;
}
li, a, button{
    text-decoration: none;
    font-size: 23px;
    font-weight: bold;
}
ul, a, li{
    background-color: transparent;
}
button{
    padding: 3px 22px;
    border-radius: 50px;
    border: 2px solid #001220;
    background-color: transparent;
    box-shadow: rgb(68, 67, 67) 3px 3px 0 0;
    color: white;
}
button:hover{
    cursor: pointer;
    box-shadow: rgb(59, 59, 59) 0px 0px 6px 4px;
    background-color: #001220;
    border: 2px solid #ffffff;
}
.head {
    background-color: transparent;
    font-size: 34px;
    font-weight: bold;
    font-family: 'Inconsolata', monospace;
}
.head:visited{
    color: rgb(255, 255, 255);
}
.head:hover{
    color: #001220;
}
nav{
    font-family: 'MedievalSharp', cursive;
    font-family: 'Oswald', sans-serif;
    background-color: transparent;
}
.links:visited{
    color: rgb(255, 255, 255);
}
.links {
    list-style: none;
    position: relative;
}
.links:hover{
    color: #001220;
}
.links::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: currentColor;

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 150ms ease-in;
}
.links:hover::after{
    transform: scaleX(1);
}
ul>li{
    display: inline-block;
    padding: 0px 20px;
}
/* ------------------ MAIN -----------------*/
.container{
    margin-top: 50px;
    display: flex;
    color: white;
}
.side1{
    width: 30%;
    border: 2px solid white;
    
}
.side2{
    width: 70%;
    border: 2px solid white;
}